* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}


body {
  background-color: #004ec2;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.App {
  /* text-align: center; */
  color: white;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

h1 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
  text-shadow: 0 0 2px white;
}


label,
input,
select {
  display: block;
}